<!DOCTYPE html>
<html>
  <head>
    <title>URLCORD.CF</title>
    <link rel="icon" href="https://cdn.discordapp.com/avatars/<%= client.user.id %>/<%= client.user.avatar %>.png?size=4096">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
   <p align="center" style="font-size: 50px;">
     <img class="my-img" src="https://cdn.discordapp.com/avatars/<%= client.user.id %>/<%= client.user.avatar %>.png?size=4096"> 
    </p>
  </body>
</html>