/* ===========================
   ====== Search Box ====== 
   =========================== */

.sc-box {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

.search
{
	border: 2px solid black;
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.search input[type="text"]
{
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}

.search input[type="text"]:focus
{
	outline: 0;
}

.search input[type="submit"]
{
	border: 0px;
	background: none;
	background-color: black;
	color: #fff;
	float: right;
	padding: 10px;
	border-radius-top-right: 5px;
	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
        cursor:pointer;
}

.sc-input {
  background: none;
  border: none;
}

/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media (min-width: 992px) 
{
	{}
	.search
	{
		width: 40%;
		margin: 0 auto;
	}

}

.row {
  margin-top: 10px;
}

.guild-icon {
  width: auto;
  height: auto;
}

.card-columns {
  margin: 0 !important;
  text-align: center !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}

.card {
  width: 255px !important;
  height: 412px !important;
  cursor: pointer;
}

.card-footer {
  height: auto !important;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;  
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

.card-columns {
  margin-top: 15px !important;
}