body {
  background-color: #05eeff !important;
  margin: 35px !important;
}

.listing {
  margin: 5px !important;
  overflow-x: hidden !important; 
}

.my-img {
  height: 40% !important;
  width: 40% !important;  
}

.h1-text {
  font-size: 31px;
}

.my-btn {
  margin-top: 10px;
  border-radius: 26px !important;
  font-size: 23px !important;
}

.my-btn-db {
  margin-top: 10px;
  border-radius: 26px !important;
  font-size: 15px !important;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.form-box {
  margin: 20px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-light .navbar-toggler {
  border: none !important;
}

@media (min-width: 992px) { 

  .my-img {
  height: 20% !important;
  width: 20% !important;  
}
  
  .h1-text {
    font-size: 40px;
  }
  
}
