body {
  background-color: #05eeff !important;
  margin: 35px !important;
}

.my-img {
  height: 40% !important;
  width: 40% !important;  
}

.h1-text {
  font-size: 31px;
}

.my-btn {
  border-radius: 20px !important;
}

@media (min-width: 992px) { 

  .my-img {
  height: 20% !important;
  width: 20% !important;  
}
  
  .h1-text {
    font-size: 40px;
  }
  
}
