<!DOCTYPE html>
<html>
  <head>
    <title><%= client.user.username %> Listing - Find your server here!</title>
    
<meta property="og:type" content="website">
<meta property="og:site_name" content="URLCORD.CF">
<meta property="og:title" content="Make awesome short url">
<meta property="og:description" content="Make your own custom invite link with URLCORD.CF discord bot">
<meta name="theme-color" content="#05eeff">    
  </head>
  <body>
    
  </body>
</html>